{% load static %}
<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <!-- head meta tags here -->
    {% include 'includes/head_meta_tags.html' %}
    <!-- Site Title -->
    <title>
    {% block title %}

    {% endblock %}
    </title>

    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
    <!-- CSS ============================================= -->
    {% include 'includes/head_css_links.html' %}

</head>
<body>
{% include 'includes/header.html' %}
<!-- #header -->

{% block content %}

{% endblock %}

<!-- start footer Area -->
{% include 'includes/footer.html' %}
<!-- End footer Area -->

<!-- Footer scripts Area -->
{% include 'includes/footer_js_links.html' %}
</body>
</html>